
.cursor {
  left: 0;
  top: 0;
  width: 90px;
  height: 90px;
  background: url('img/mouse.jpg'); 
  background-repeat: no-repeat;
  background-size: 105px;

  position: absolute;
  border-radius: 50px;
}

.cursor__follower {
  transition: transform .4s;
  background-image: url('img/cat.jpg');
  width: 95px;
  height: 95px;
}

html {
  cursor: none;
  background-color: #2d2b2b;
  height: 100vh;
  overflow: hidden;
}

body {
  height: 100%;
}

.letter {
  font-size: 10em;
  font-weight: bold;
  position: absolute;
}
