#hnmain, textarea, input  {
    background-color: #000 !important;
  	color: #ccc !important;

}

.title a, .comment .c00, .yclinks a {
	color: #ccc !important;
}

.title a:visited {
    color: #99f !important;
}

.subtext a {
	color: #666 !important;
}
